<nav class="navbar navbar-expand-lg navbar-danger ps-5 d-flex bg-dark">
  <%= link_to 'Clinical Tech', 
  root_path, class:"navbar-brand fw-bold fs-4 logo text-white fw-bold w-50 mx-auto"%>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> <div class="  flex-grow-1 pe-5 d-flex justify-content-end" id="navbarNav">
  <div>

  
    <ul class="navbar-nav  d-flex flex-row gap-3">
      <li class="nav-item active">
  
      <% if user_signed_in? %>
      <%# <li class="nav-item"> %>
        <%# <%= link_to 'Write an Article ',  new_article_path, class:"nav-link logo text-white"%> 
      <%# </li> %>
      <li class="nav-item">
        <%= link_to 'Edit Profile ',  edit_user_registration_path, class:"nav-link logo text-white"%> 
      </li>
      <li class="nav-item">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"nav-link logo text-white" %>
      </li>
      <% else %>
      <%# <li class="nav-item"> %>
        <%# <%= link_to 'Write an Article',  new_article_path, class:"nav-link logo text-white"%>
      <%# </li> %>
      <li>
          <%= link_to 'Sign up', new_user_registration_path, class:"nav-link logo text-white"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign in', new_user_session_path, class:"nav-link logo text-white"%>
      </li></div>
      <% end %>
  </div>
</nav>