

<div> <%= form_with(model: @group, local: true, multipart: true) do |form|%> <div>
<div>
<%= form.label :name %> <br>
<%= form.text_field :name%>
</div>
      

<div>

<%= form.label :icon %> <br>
<%= form.text_field :amount%>
</div>

<div><%= form.label :thumbnail, "Project Icon" %> <br>
<%= form.file_field :thumbnail %>
      
</div> 

<div> <%= form.submit%> </div>

<%end%></div>