<div>
<% if @groups%>

<p>
<% @groups.each do |group|%>
<div>

<%= group.name%>

</div>

<div>

<%= group.icon%>
</div>

<div>
<%= image_tag group.thumbnail, class:"img_res" if group.thumbnail.present? %>
</div>
<%end%>
</p>

<% else%>

<p> You have not added any group</p>
</div>

<%end%>

<p><%= link_to('Add new group', new_groups_path	)%> </p>
<p> <%= link_to("Back", :back)%> </p>