<div>

<p> Total amount payable by all the patients is  &#8358 <%=  @sum_of_amount%>  </p>
<p>External Patients</p>

<ul> <% if @patients_with_group.any? %> 
<% @patients_with_group.each do |patient|%>
<li>
<%= patient.name %>
<%= patient.amount %>

</li>
<%end%>
</ul>
<% else %>
<p> No patient without group</p>

<% end%>


<p><%= link_to('Add new patient', new_patient_url	)%> </p>
<p> <%= link_to('External Patients', patients_path)%> </p>