<div class = "d-flex justify-content-center">

<div class = "mt-2">


<h1>All Patients</h1>
<p class="patient-fw"> Total amount payable by all  patients <div> &#8358 <%=  @sum_of_amount%>  </div>  </p>
<ul> <% if @patients_with_group %> 
<% @patients_with_group.each do |patient|%>
<li class = "d-flex flex-column"> <p > <strong>Name:</strong> 
<%= patient.name %> </p>
<p > <strong> Amount: </strong> <%= patient.amount %>
</p>
</li>
<%end%>
</ul>
<% else %>
<p> No patient without group</p>

<% end%>


<p><%= link_to('Add new patient', new_patient_url	)%> </p>
<p> <%= link_to('External Patients', patients_path)%> </p>
<p> <%= link_to("Back", :back)%> </p>
</div>
