

<div> <%= form_with model: patient do |form|%> <div>
<%= form.label :name %> <br>
<%= form.text_field :name%>

      
</div> 
<div>

<%= form.label :amount %> <br>
<%= form.text_field :amount%>
      
</div> 

<div> <%= form.submit%> </div>

<%end%></div>