
<p>Patient Information</p>

<div> <%= form_for @patient do |form|%>

<p> Creater by user  </p > <%= current_user.email%> 
 <div>
<%= form.label :name %> <br>
<%= form.text_field :name%>

      
</div> 
<div>

<%= form.label :amount %> <br>
<%= form.text_field :amount%>
      
</div> 
<h2>Assign group</h2>

<div><%= form.label :select_group %>

<%# <%= select('patients', 'groups_id', Group.all.collect {|g| [g.name, g.id]}, {include_blank: true}) %> 

<%= form.collection_select :group_id, Group.all, :id, :name, :include_blank => true %>
</div>

  <br />

<div> <%= form.submit%> </div>

<%end%></div>

<p> <%= link_to("Back", :back)%> </p>

