
<h2 class = "d-flex justify-content-center">Patients without group</h2>

<ul> <% if @patients_without_group.any? %> 


<table class = "table table-hover table-responsive caption-top bg-light vw-100">
<caption> <strong> List of patients</strong> </caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      
      <th scope="col">Treatment Cost</th>
    </tr>
  </thead>
  <%index = 0%>
  <% @patients_without_group.each do |patient|%>
<tbody>
    <tr>
      <th scope="row"><%= index = index + 1 %></th>
      <td > <%= patient.name %> </p></td>
      
      
      <td> &#8358 <%= patient.amount %></td>
      
    </tr>
<%end%>
<td class = "fw-bold">Total treatment cost </td> <td></td>  <td class = "fw-bold"> &#8358 <%=  @sum_of_amount%>
</td>
    </tbody>
</table>
<% else %>
<p> No patient without group</p>

<% end%>

<p> <%= link_to("Back", :back, class:"fw-bold text-decoration-none text-secondary")%> </p>
<div class = "d-flex justify-content-between mt-4"> <p><%= link_to('Add new patient', new_patient_url, class:"fw-bold text-decoration-none text-secondary")%> </p>
